*,
*::after, 
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body{
    background-color: #400000;
    font-size: 1.6rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 3.5rem;
}

.logo img {
        width: 50px;
        height: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.marca {
    font-weight: bold;
    font-size: 30px;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    height: 50px;
    background: #770000;
    border-radius: 1.5rem;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    margin: 3.5rem;
}

.nav__menu .nav__item {
    margin: 4px;
}

.nav__menu .nav__link {
    font-size: 20px;
    font-weight: bold;
}

.nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: white;
    transition: 0.4s ease-in;
}

.nav__toggler {
    cursor: pointer;
    display: none;
}

@media (max-width: 368px) {
    .logo {
        margin: 1.3rem;
        gap: 7px;
    }

    .marca {
        font-size: 15px;
    }

    .nav__toggler {
        display: block;
        padding: 15px;
    }
    .nav__menu {
        position: fixed;
        top: 8%;
        right: 0%;
        width: 29%;
        height: 20vh;
        background: #770000d4;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        padding-top: 9px;
        padding-right: 37px;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 4;
        margin: 0 auto;
    }

    .nav__menu .nav__link {
        font-size: 13.8px;
    }
}

@media (min-width: 369px) and (max-width: 720px) {
    .nav__toggler {
        display: block;
        padding: 30px;
    }
    .nav__menu {
        position: fixed;
        top: 8%;
        right: 0%;
        width: 24%;
        height: 28vh;
        background: #770000d4;
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;
        padding-top: 28px;
        padding-left: 10px;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 4;
        margin: 0 auto;
    }

    .nav__menu .nav__link {
        font-size: 13.8px;
    }
}

/* Nav Active Class  */
.nav__active {
    transform: translateX(0);
}

/* Toggler Icon Animated */
.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}